.flipOuterContainer {
	perspective: 1000;
	-webkit-transform-perspective: 1000;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve3d;
}
.flip .front {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
.flip .back {
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	z-index: 3;
}
.flipInnerContainer {
	transform-style: preserve-3d;
	-webkit-transform-style: preserve3d;
	transition: all 0.4s ease-in-out 0s;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve3d;
	transition: all 0.4s ease-in-out 0s;
	position: absolute;
	left: 0;
	top: 0;
}
.front {
	z-index: 2;
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}
.back {
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
}